*
!.gitkeep

!bspwm/
!sxhkd/
!polybar/
!picom/
!nvim/
!kitty/
!dunst/
!flameshot/
!nushell/
!neofetch/
!Thunar/

**/cache/
**/Cache/
**/logs/
**/log/
**/*.log
**/*.lock
**/__pycache__/
**/*.bak
**/*.tmp
